body {
  margin: 10px;
  background-color: #f7f8fc;
  font-family: sans-serif;
  color: #10182f;
}
.container {
  text-align: center;
}
img {
  width: 200px;
  height: 150px;
}
.about {
  display: flex;
  text-align: justify;
}

.about .about-eng-id {
  margin: 10px;
}

.icon {
  padding: 10px;
  color: #10182f;
}
.icon:hover {
  color: #0a2d96;
}
